body {
  font-family: 'Pacifico', cursive;
}

.beeps {
  display: none;
}

.jumbotron {
  width: 100%;
  background-image:url('../img/leaves.jpg');
  float: left;
  color: #fff;
}

hr {
  border: 0.5px solid #fff;
}
